@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

html {
  font-family: "Inter";
  font-style: normal;
}

.rmMarge {
 margin: 0px !important;
  padding: 0px !important;
}